language: node_js
node_js: 10

cache:
  yarn: true

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

before_script: yarn global add codecov

script:
  - commitlint-travis
  - node_modules/.bin/nyc yarn test && yarn travis-deploy-once "yarn semantic-release"

after_success: codecov